include drumpy/static/keymap.yaml
include drumpy/static/samples/bass/*
include drumpy/static/samples/closed_hh/*
include drumpy/static/samples/crash/*
include drumpy/static/samples/open_hh/*
include drumpy/static/samples/snare/*
include drumpy/static/samples/toms/*
